main {
  background-color: #04AA6D;
  height: 100vw;
  margin: 0;
  padding: 0;
}

.inputs {
  align-items: center;
  display: flex;
  height: 60vw;
  justify-content: center;
}

.form-profile {
  background-color: #FFF;
  box-shadow: 5px 5px 40px 0px rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 400px;
  padding: 40px 20px;
  text-align: center;
  width: 100%;
}

.form-profile input {
  background-color: #FFF;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-group {
  position: relative;
}

.input {
  border: 1px solid #04AA6D;
  box-sizing: border-box;
  max-width: 400px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.placeholder {
  text-align: center;
}

.btn-input {
  background-color: #04AA6D;
  font-size: 20px;
  height: 30px;
  width: 100%;
}

.btn-input:disabled {
  background-color: #9c9c9c;
  color: rgb(121, 121, 121);
}

.inputs {
  display: flex;
  flex-direction: column;
}
