.divProfile {
  align-items: center;
  background-color: #04aa6d;
  display: flex;
  flex-direction: column;
  height: 100vw;
  overflow: hidden;
}

.divProfile img {
  border-radius: 100px;
  height: 100px;
  width: 100px;
}

.divProfile p {
  text-transform: uppercase;
}

.description {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  max-height: 500px;
  min-height: 100px;
  width: 400px;
}

.divProfile button {
  border-radius: 10px;
  font-size: 20px;
  height: 35px;
  width: 200px;
}
